<div class="col-sm-12">
  <div class="col-xs-12">
    <div class=" border-top-shop">
      <span class="top-shop-product"><%= t "common.all_shops" %></span>
      <span><span class="border-top-shop-product"></span></span>
    </div>
  </div>
  <div class="list-shops col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
      <%= render partial: "shops/all_shop_item", collection: @shops, as: :shop %>
  </div>
</div>
<div class="load-more-products col-md-12 col-xs-12 margin-top-30">
  <% unless check_length_perpage_shop @shops %>
    <%= link_to_next_page(@shops, t("view_more_shops")) %>
  <% end %>
</div>
