<div class="modal-shop-settings modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal_text_header"><%= t "shop_settings.title" %></h4>
      </div>
      <div class="modal-body padding_0 shop-settings"></div>
    </div>
  </div>
</div>
