.domain-professed {
  background: #43ad11;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  color: white;
  margin-top: 3px;
}

.domain-secret {
  background: orange;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  color: white;
  margin-top: 3px;
}

.list {
  height: 200px;
  overflow: scroll;
}
