.manager-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.manager-search {
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: #f5f5f5;
  }
  .col-xs-10 {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    p {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.new-manager-search-result {
  height: auto;
  max-height: 350px;
  overflow-y: overlay;
  border-radius: 0 !important;
}

.filter-user-by-shop-domain.form-control {
  outline: 0;
  border-radius: 10px !important;
}

#user_by_shop_domain {
  border-radius: 10px !important;
}

.filter-user-by-shop-domain-label {
  padding-left: 10px;
}
