<div class="modal fade" id="modal-new-shop">
  <div class="modal-dialog modal-shop">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal_text_header">
          <%= t "dashboard.shops.edit.title" %>
        </h4>
      </div>
      <div class="modal-body">
        <%=  render "form", shop: @shop %>
      </div>
    </div>
  </div>
</div>
