<div>
  <h2 class="row_h2">
    <%= t "your_shop" %>
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t("create_new_shop"), new_dashboard_shop_path, remote: true,
        class: "btn btn_view_all btn-warning" %>
    </div>
  </h2>
</div>
<div class="col-md-12 padding-0 list-manage-shop">
  <%= render @shops %>
</div>
<%= paginate @shops %>
<div id="new-shop-modal" class="modal fade"></div>
<div id="edit-shop-modal" class="modal fade"></div>
