<h2 class="text-center"><%= t "dashboard.order.title" %></h2>
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="dropdown action">
              <input type="hidden" value = "<%= @shop.id %>" id="shop-id">
              <%= check_box_tag "orders[]", @orders.ids, false, class: "checkbox", id: "checkbox" %>
            </div>
          </div>
        </div>
        <%= render @orders %>
      </div>
    </div>
  </div>
