.center-vertical-td {
  td {
    vertical-align: middle !important;
  }
}

.font-size-20 {
  font-size: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.padding-top-shop {
  &:first-child {
    padding-left: 0 !important;
  }
}

.margin_0 {
  margin: 0 !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-left-right-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-left-right-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-5-10 {
  padding: 5px 10px !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-top-shop {
  border-bottom: 3px solid #f15626;
  overflow: hidden;
  span {
    display: inline-block;
    background-color: #f15626;
    float: left;
  }
  .top-shop-product {
    border-radius: 5px 23px 0 0;
  }
  .border-top-shop-product {
    width: 60px;
    height: 38px;
    border-bottom-left-radius: 20px;
    background-color: white;
  }
}

.text-top-shop {
  display: inline-block;
  font-size: 15px;
  color: #808080;
  line-height: 50px;
  cursor: pointer;
  &:hover {
    color: #059;
  }
}

.item-product-shop {
  overflow: hidden;
  width: 95%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.relative {
  position: relative;
}

.align-right {
  text-align: right;
}

.btn_add_to_cart:hover {
  color: white !important;
  background-color: #ff2716;
}

.top-shop-product {
  font-size: 20px;
  padding: 5px 30px;
  color: white;
  background: #f15626;
}

.item-hidden {
  position: fixed;
  display: none;
  z-index: 1;
  padding: 5px;
  border-color: #ccc;
  border-radius: 5px;
  background: #ff926f;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.42);
  &::after {
    content: "";
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    z-index: -1;
  }
  .item-img {
    min-width: 180px;
    max-width: 210px;
    min-height: 210px;
    text-align: center;
    float: left;
    padding: 10px;
    > img {
      width: 100%;
      min-height: 195px;
      height: 100%;
    }
  }
  .item-info {
    float: left;
    table {
      tbody {
        tr {
          font-size: 16px;
          > th {
            width: 100px;
            padding: 7px 10px;
            font-weight: bold;
            vertical-align: top;
            white-space: nowrap;
          }
          > td {
            max-width: 250px;
            padding: 7px 10px;
            text-align: justify;
            overflow: hidden;
            > p {
              margin: 0;
            }
          }
        }
      }
      td, th {
        border: 0;
      }
    }
  }
}

.domain-name {
  width: calc(100% - 30px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.button-join-domain {
  text-align: center;
  .btn {
    font-size: 13px;
  }
}

@media (min-width: 993px) {
  .image_product h3 {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .image_product h3 {
    font-size: 18px;
  }
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.padding-left-right-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn_view_all_wrapper {
  .view-all {
    display: inline-block;
    background: white;
    color: white;
    border: 0;
    outline: 0;
    line-height: 28px;
    margin-top: 3px;
    height: 28px;
    span {
      display: inline-block;
      background: #f15626;
      width: 70px;
      height: 28px;
      float: left;
    }
    .text-view-all {
      min-width: 90px;
      font-weight: bold;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .view-all-left, .view-all-right {
      background-color: white !important;
    }
    .view-all-left {
      border-top-right-radius: 17px;
    }
    .view-all-right {
      border-top-left-radius: 17px;
    }
    &:hover {
      .border-view-all, .text-view-all {
        background: #ff2716;
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}
