$main_project_color: #fd680e;

@mixin side($side, $second, $length){
  @keyframes animate_#{$side} {
    from {
      #{$side}: #{$length};
      opacity: 0
    }
    to {
      #{$side}: 0;
      opacity:1
    }
  }
  animation: animate_#{$side} #{$second};
}

.intro-features {
  .center {
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 10px 0;
    h3 {
      width: 725px;
      font-size: 35pt;
      font-weight: bold;
      padding: 10px 20px;
      color: #fff;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 15px 25px 15px 25px;
    }
  }
  h2{
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: -20px;
    font-weight: 300;
    letter-spacing: .6px;
    line-height: 30pt;
    padding: 5px;
  }
  h3{
    width: 380px;
    font-size: 14pt;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
  }
  #choose{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    float: none;
    .choose-wrapper {
      position: relative;
      width: 100%;
      display: inline-block;
      padding-bottom: 10px;
      position: relative;
      margin: 0 auto;
      margin-top: 70px;
      img{
        opacity: 1;
        margin: 0px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.7);
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
        a {
          background-color: white;
          padding: 5px 10px;
          border: 2px solid $main_project_color;
          border-radius: 30px;
          color: $main_project_color;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      &:hover {
        cursor: pointer;
        margin-top: 70px;
        img{
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        .overlay {
          bottom: 0;
          height: 100%;
        }
      }
    }
    .choose-des {
      padding: 5px;
      span {
        color: #fff;
        width: auto;
        display: inline-block;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 30px 10px 30px 10px;
        border-top: 0px solid #05deb7;
        font-size: 15pt;
        text-align: center!important;
        margin: 5px auto;
      }
    }
  }

  .arrows {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: 26.66667px solid rgba(255, 255, 255, 0.7);
      border-bottom: 26.66667px solid rgba(255, 255, 255, 0.7);
      transform: translate(26.66667px, 106.66667px) rotate(-45deg);
      animation: arrows 1.5s linear infinite;
    }
    &::after {
      animation: arrows 1.5s linear infinite -0.75s;
    }
  }

  @keyframes arrows {
    0% {
      border-left: 26.66667px solid transparent;
      border-bottom: 26.66667px solid transparent;
      transform: translate(-13.33333px, -53.33333px) rotate(-45deg);
    }
    10%, 90% {
      border-left: 26.66667px solid transparent;
      border-bottom: 26.66667px solid transparent;
    }
    50% {
      border-left: 26.66667px solid rgba(255, 255, 255, 0.7);
      border-bottom: 26.66667px solid rgba(255, 255, 255, 0.7);
      transform: translate(-13.33333px, 0px) rotate(-45deg);
    }
    100% {
      border-left: 26.66667px solid transparent;
      border-bottom: 26.66667px solid transparent;
      transform: translate(-13.33333px, 53.33333px) rotate(-45deg);
    }
  }
  .fade-in-animate-left {
    position:relative;
    @include side('left', '2s', '-70px');
  }
  .fade-in-animate-right {
    position:relative;
    @include side('right', '2s', '-70px');
  }
}
