.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
  width: 342px;
}

li.search-item {
  height: 75px;
  &:hover {
    background-color: #ecf0f1;
    cursor:pointer;
  }
}

#livesearch {
  a {
    color: #66757f;
  }
}

.search-item-image {
  img {
    height: 50px;
    width: 50px;
    border-radius: 4px;
  }
}

.user-search-item {
  height: 75px;
  &:hover {
    background-color: #ecf0f1;
    cursor:pointer;
  }
}

.search-user-image {
  margin: auto;
  img {
    height: 75px;
    width: 75px;
    border-radius: 45px;
  }
}

.search-user-image-owner {
  margin: auto;
  img {
    height: 45px;
    width: 45px;
    border-radius: 45px;
  }
}

.td-user-image-table {
  width: 50px;
}

.td-user-name-table {
  text-align: center;
  width: 400px;
}

.td-user-action-table {
  text-align: center;
  width: 200px;
}
