$orange_main: #ff5722;

.modal_header {
  background: image-url(header_bg) $orange_main;
  border: 0;
  border-radius: 0;
  min-height: 42px;
}

.modal_text_header {
  color: white;
}

.modal_item {
  .col-md-4 {
    .image {
      width: 180px;
      height: 200px;
      border-radius: 15px;
      object-fit: cover;
    }
  }
  .col-md-8 {
    .name {
      font-size: 20px;
      font-weight: bold;
    }
    .change_quantity {
      float: left;
    }
  }
}

.info {
  font-weight: bold;
}

.content_note {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 15px;
  border: solid 1px orange;
  margin-bottom: 0px;
}

.note {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 15px;
  border: solid 1px orange;
  margin-bottom: -30px;
}

.group_button {
  display: block;
  white-space: nowrap;
  margin-left: 0px;
  margin-top: 5px;
}

.btn_center {
  margin-left: 2px !important;
  min-width: 90px;
}

.interaction_area {
  text-align: center;
}

.color_orange {
  color: white;
  background-color: orange;
  border-radius: 5px;
  padding: 0px 5px 0px 0px;
  margin-bottom: -40px;
  float: left !important;
}

.color_orange:hover {
  background-color: #29c4f3;
  color: white;
}

.list_item_note {
  resize: none;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border-color: orange;
  margin-top: -30px;
}

.border_item_cart {
  border-radius: 10px;
  border: solid 1px orange;
  padding-top: 20px;
  padding-left: 8px;
  margin-bottom: 15px;
  display: block;
  width: 24%;
  margin-left: 10px;
  box-shadow: 0 4px 2px rgba(140, 90, 0, 0.25);
}

.not_padding_bot {
  padding-bottom: 0px;
}

.content_item_cart {
  z-index: 1;
  position: relative;
}

.content_note_item_cart {
  display: none;
  margin-top: -150px;
  z-index: 2;
  position: relative;
  background-color: white;
  height: 150px;
  padding-left: 7px;
}

.img_cover_size {
  width: 100%;
  object-fit: cover !important;
}

.check_button_status_shop {
  display: list-item;
  margin-bottom: 10px;
}

.label_float_left {
  float: left;
  margin-left: 5px;
}

.image_on_image_border {
  z-index: 0;
  margin-top: -103px;
}

.image_border{
  z-index: 1;
}

.new_image {
  border: none;
  margin-top: -24px;
  background-color: rgba(255, 255, 255, 0);
}

.shop_open {
  border-color: #00a65a !important;
  box-shadow: 3px 4px 2px rgba(140, 90, 0, 0.25);
}

.shop_close {
  border-color: #dd4b39 !important;
  box-shadow: 3px 4px 2px rgba(140, 90, 0, 0.25);
}

.show_product_name {
  font-size: 30px;
  max-width: 100%;
}

.show_product_price {
  padding-top: 15px;
  font-size: 25px;
  color: #ff5722;
  font-weight: bold;
}

.show_product_time {
  font-size: 25px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 2px rgba(140, 90, 0, 0.25);
  .time_start {
    display: inline-block;
    border-radius: 5px;
    background: #90d633;
    margin-bottom: 3px;
    padding: 0 3px;
  }
  .time_end {
    display: inline-block;
    border-radius: 5px;
    background: orange;
    margin-bottom: 3px;
    padding: 0 3px;
  }
}

.btn_margin_none {
  margin-left: 0px !important;
}

.image_show_all_products {
  width: 100%;
  height: 75px !important;
  box-shadow: 0 4px 2px rgba(140, 90, 0, 0.25);
  object-fit: cover;
}

.scoll_list_order_manage {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

.scroll_list_orders {
  width: 97%;
  border: solid 1px #f15726;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(140, 90, 0, 0.25);
  .scroll_body {
    width: 98.2%;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.panel_date_list_orders {
  margin-top: 50px;
  margin-bottom: -5px;
  .panel_item {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #f15726;
    box-shadow: 0 3px 2px rgba(140, 90, 0, 0.25);
    position: absolute;
    z-index: 2;
    margin-top: -22px;
    color: white;
  }
}

.image_product_item {
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.54);
}

.image_shop_icon_product_item {
  width: 81px;
  height: 70px;
  object-fit: cover;
  padding-top: 5px;
  padding-bottom: 3px;
  box-shadow: 2px 2px 2px rgba(140, 90, 0, 0.25);
}

.limit_leght {
  overflow: hidden;
}

.name_product_in_shop{
  font-size: 18px;
  color: #ff5722;
  padding-top: 5px;
}

.shop_nam_item_product {
  text-align: center;
  width: 130%;
}

.padding-left--10px {
  margin-left: -10px;
}

.float-right {
  float: right !important;
}

.confirm-body {
  text-align: center;
  p {
    font-size: 20px;
    margin: 0;
  }
  p.timer {
    font-size: 12px;
    margin-top: 10px;
  }
}

.border_order_list {
  box-shadow: 2px 2px 2px 2px rgba(19, 19, 19, 0.45);
  border-radius: 10px;
  .body-1 {
    width: 102%;
    height: 455px;
    overflow: scroll;
  }
  .body-2 {
    width: 102%;
    height: 430px;
    overflow: scroll;
  }
  .body-3 {
    width: 102%;
    height: 110px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 8px;
  }
}

.header_title_order {
  background: image-url(header_bg) $orange_main;
  height: 10px;
  border-radius: 10px;
  margin-top: -30px;
}

.order_header_text {
  color: white;
  font-size: 15px;
  display: block;
  margin-top: -13px;
  text-align: center;
}

.list_order_item {
  margin-top: 30px;
  border: dashed 1px #469a11;
  width: 99%;
  display: block;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(140, 90, 0, 0.25);
  height: auto;
  .title {
    border-radius: 10px;
    color: white;
    height: 20px;
    background: image-url(header_bg) #469a11;
    display: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
  }
  .content {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: auto;
  }
}

.width-250px {
  width: 280px;
}

.width-150px {
  width: 100px;
}

.btn_accepted {
  color: #f39c12;
}

.btn_rejected {
  color: #dd4b39;
}

.btn_pending {
  color: #00c0ef;
}

.display-inline{
  display: inline;
}

.font_bold {
  font-weight: bold;
}

.btn_done {
  color: green;
}

.title_button {
  background-color: white;
  border-radius: 10px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  padding-top: 2px;
  color: black;
  box-shadow: 2px 2px 2px rgba(140, 90, 0, 0.25);
}

.col-md-8-resize {
  width: 66%;
  height: 560px;
}

.info_total_packing {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.right {
  font-weight: bold;
}

.info_packing {
  padding-left: 5px;
}

.packing_view {
  margin-top: -12px;
}

.pt15 {
  padding-top: 15px;
}

//switch_button
.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #00a65a;
  color: #FFFFFF;
  text-align: left;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #dd4b39;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 27px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.set_inline {
  display: inline-block;
  float: right;
}

.h500 {
  height: 500px;
}

.btn_filter {
  float: right;
  margin-left: 5px;
}

.glyphicon {
  padding-top: 2px;
}

.filter_header {
  margin-top: 2px;
  width: 70%;
  margin-left: 15%;
  background: image-url(header_bg) #f4f4f4;
}

.radio_button_filter {
  margin-top: -12px;
  text-align: center;
  font-weight: bold;
}

.radio-inline {
  color: black;
}
#edit-domain-modal h3 {
  margin-top: 10px;
  color: #ff5722;
}

.btn_domian {
  display: inline;
  padding-top: 4px;
  padding-bottom: 4px;
}

//REFACTOR PROJECT
.v2-btn-warning {
  background-color: #f7be64;
  border-color: #f39c12;
  color: #fff;
}
.v2-btn-warning:hover {
  background-color: #f39c12;
  border-color: #b3730c;
  color: #fff;
}

.v2-btn-primary {
  background-color: #6ad2eb;
  border-color: #1bbae1;
  color: #fff;
}
.v2-btn-primary:hover {
  background-color: #1bbae1;
  border-color: #1593b3;
  color: #fff;
}
.v2-btn-danger:hover {
  background-color: #e74c3c;
  border-color: #9c3428;
  color: #fff;
}
.v2-btn-danger {
  background-color: #ef8a80;
  border-color: #e74c3c;
  color: #fff;
}
.v2-btn-info {
  background-color: #7abce7;
  border-color: #3498db;
  color: #fff;
}
.v2-btn-info:hover {
  background-color: #3498db;
  border-color: #2875a8;
  color: #fff;
}
.v2-btn-success {
  background-color: #7db831;
  border-color: #7db831;
  color: #fff;
}
.v2-btn-success:hover {
  background-color: #7db831;
  border-color: #578022;
  color: #fff;
}

.v2-custom-container {
  width: 100%;
  margin: auto;
}

.home-header .search-form {
  width: 30%;
}

.scroll {
  height: 105px;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .home-body {
    padding-top: 100px;
  }
  .home-header .search-form {
    width: 400px;
  }
}

.categorie {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 15px;
  line-height: 25px;
  background: #60a73c;
  box-shadow: 1px 1px 1px rgba(68, 13, 13, 0.54);
  padding-left: 10px;
  border-radius: 5px;
}

.categorie:hover {
  background: image-url(header_bg) white;
  color: #fd6332
}

.categorie:hover .categorie-count {
  background: image-url(header_bg) #fd6332;
  color: white;
}

.categorie-count {
  display: inline-block;
  border: groove 1px #f38429;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
  background: white;
  color: #fd6332;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.form-header {
  background: image-url(header_bg) #fd6332;
  .text-header {
    vertical-align: middle;
    color: white !important;
  }
}

.icon-public-header {
  display: inline-block;
  width: 25px;
  line-height: 20px;
  text-align: center;
  float: right;
  margin-right: 0px;
  color: white;
}

.block-header {
  border-bottom: solid 2px #fd6332;
  padding-top: 20px;
  .block-title {
    font-size: 200%;
    background: #f45a2a;
    display: inline-block;
    color: white;
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 5px;
  }
}

.top-shop-slide {
  .top-shop-slide-item {
    border: solid 1px;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .all-shop-slide-item {
    border: solid 1px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .top_shop_image {
    padding-left: 0;
    .image {
      height: 90px;
      margin-top: 10px;
      margin-bottom: 10px;
      object-fit: cover;
      border: groove 5px #f5f5f5;
      border-radius: 10px;
      width: 100%;
    }
  }
  .shop-name {
    color: #ff5b27;
    font-size: 22px;
    margin-top: 2%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rate {
    color: #60a73c;
    display: inline;
  }
  .status {
    display: inline-block;
  }
  .text-description {
    padding-top: 10px;
    font-size: 17px;
  }
  .item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 39%;
  }
}

.line-end-silde {
  border-top: solid 3px #f15626;
}

.top-shop-slide-item:hover {
  border-color: blue !important;
  box-shadow: 4px 5px 3px rgba(0, 140, 75, 0.25);
}

.toggle_panel {
  display: none;
  background-color: rgba(245, 245, 245, 0.66);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: 1;
  .button_manager {
    position: inherit;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    .btn {
      font-size: 13px;
    }
    .glyphicon {
      position: relative !important;
    }
  }
}

.shop_image_cover_and_avatar {
  position: relative;
  .change_image_hover {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    .change_item {
      background-color: rgba(238, 238, 238, 0.65);
      border-radius: 10px;
      color: #fd680e;
      margin-left: 25px;
      margin-top: -38px;
      width: 220px;
      display: none;
      height: 39px;
      border: solid 1px;
      text-align: center;
      font-size: 28px;
    }
    .change_icon {
      font-size: 30px;
      color: white;
      background-color: #fd680e;
      border-radius: 50px;
      padding: 5px;
      margin-top: 5px;
      margin-left: 7px;
      margin-right: -20px;
      z-index: 3;
      transition: 0.5s ease-in-out;
    }
    .change_icon:hover {
      transform: rotate(1turn);
      -webkit-transform: rotate(1turn);
      -moz-transform: rotate(1turn);
      transition: 0.5s ease-in-out;
    }
  }
  .avatar {
    width: 100%;
    height: 210px;
    margin-top: -40%;
    object-fit: cover;
  }
  .title {
    color: $orange_main;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list_owner_and_manger {
    width: 100%;
    height: 50px;
    display: inline-flex;
    white-space: nowrap;
  }
  .list_owner_and_manger {
    padding-top: 10px;
  }
  .block {
    .title {
      margin-bottom: 0;
      font-weight: inherit;
      .text-header {
        font-weight: inherit;
        padding-top: 6px;
      }
      .btn-change-owner {
        margin-right: 5px;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 3px;
      }
    }
  }
}

.function_manage {
  display: inline-flex;
  .btn_function {
    width: 90px;
    height: 80px;
    background-color: #ffffff;
    margin: 5px 15px;
    border-radius: 10px;
    border: solid 1px #fd680e;
    box-shadow: 1px 1px 1px 1px grey;
    .btn_item {
      display: block;
      color: #fd680e;
      .btn_icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
      }
    }
  }
  .btn_function:hover {
    width: 90px;
    height: 80px;
    background-color: #fd680e;
    margin: 5px 20px;
    border-radius: 10px;
    border: solid 1px #ffffff;
    box-shadow: 1px 1px 1px 1px grey;
    .btn_item {
      color: #ffffff;
    }
  }
  @media (max-width: 1192px) {
    .btn_function {
      margin: 5px;
      width: 70px;
      height: auto;
    }
    .btn_function:hover {
      margin: 5px;
      width: 70px;
      height: auto;
    }
  }
}

.general_info {
  .general_item {
    background-color: #eeeeee;
    border-radius: 10px;
    color: #fd680e;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 2px;
    display: -webkit-box;
    .general_icon {
      font-size: 50px;
      color: white;
      background-color: #fd680e;
      border-radius: 50px;
      padding: 4px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    .general_number {
      font-size: 30px;
    }
  }
}

.general_item:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.46);
  .general_icon {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    transition: 0.5s ease-in-out;
  }
}

.font-size-30 {
  font-size: 30px;
}

.font-size-25 {
  font-size: 25px;
  background-color: white;
}

.display-none {
  display: none;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.mg-bottom-0 {
  margin-bottom: 0 !important;
}

.manage_shops_item {
  height: 185px;
  margin-bottom: 20px;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.46);
  .item_image {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border: solid 1px $orange_main;
      border-radius: 10px;
    }
  }
  .item_info {
    .shop_name {
      text-align: center;
      font-size: 30px;
      color: $orange_main;
      display: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .item_tag {
    display: inline-flex;
    .user_role_owner {
      background: orange;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .user_role_manager {
      background: #43ad11;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .shop_pending {
      background: red;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .shop_openning {
      background: #43ad11;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .shop_closed {
      background: red;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .shop_clock {
      background: black;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
    .shop_manualy {
      background: black;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      color: white;
      margin-top: 3px
    }
  }
  .item_domain {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .function {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 20px;
    background-color: rgba(244, 244, 244, 0.87);
    border-radius: 10px;
    display: none;
    .shop-function {
      top: 30%;
    }
    .function_manage {
      display: inline-flex;
      .btn_function {
        width: 75px;
        height: 77px;
        background-color: #ffffff;
        margin: 5px;
        border-radius: 10px;
        border: solid 1px #fd680e;
        box-shadow: 1px 1px 1px 1px grey;
        .btn_item {
          display: block;
          padding-top: 7%;
          padding-bottom: 7%;
          color: #fd680e;
          .btn_icon {
            height: 20px;
            width: 20px;
            font-size: 20px;
          }
        }
      }
      .btn_function:hover {
        width: 75px;
        height: 77px;
        background-color: #fd680e;
        margin: 5px;
        border-radius: 10px;
        border: solid 1px #ffffff;
        .btn_item {
          color: #ffffff;
        }
      }
    }
  }
}

.shop_item_open {
  border: solid 1px green;
}

.shop_item_close {
  border: solid 1px red;
}

.manage-domain-of-shop {
  margin-bottom: 0;
  tbody {
    max-height: 300px;
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.list-functions {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px $orange_main;
  display: inline-block;
  position: relative;
  border-radius: 10px;
    width: 100%;
  .title-list-functions {
    position: absolute;
    top: -10px;
    left: 30px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    color: $orange_main
  }
}

.slide-top-shop-prev {
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
}

.slide-top-shop-next {
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-prev-next {
  font-size: 30px;
  font-weight: bold;
  color: rgba(243, 90, 41, 0.42);
}

.btn-prev-next:hover {
  font-size: 30px;
  font-weight: bold;
  color: rgba(243, 90, 41, 1);
}

.no-shops {
  text-align: center;
  font-size: 25px;
  color: #f15626;
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-products {
  text-align: center;
  font-size: 25px;
  color: #f15626;
}

.margin-top-10 {
  margin-top: 10px;
}

.v-a-middle {
  vertical-align: middle !important;
}

.bd-radius-category {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.modal-delete-domain {
  width: 400px;
  p {
    font-size: 18px;
  }
}

.margin-top-0 {
  margin-top: 0 !important;
}

.font-weight-bold {
  font-weight: bold;
}

.margin-top--50px {
  margin-top: -50px;
}

.rate {
  div {
    display: inline-flex;
    height: 18px;
  }
}

.custom-swal {
  padding: 0 !important;
  border-radius: 0 !important;
  h2 {
    margin-top: 0 !important;
    background: image-url(header_bg) $orange_main !important;
    border: 0 !important;
    min-height: 42px !important;
    text-align: left !important;
    color: white !important;
    font-size: 18px !important;
    padding: 15px !important;
    line-height: 20px !important;
  }
  p {
    font-size: 14px !important;
    color: black !important;
    padding: 0 10px;
    margin-bottom: 10px !important;
  }
  .sa-button-container {
    padding: 15px !important;
    text-align: right !important;
    .confirm, .cancel {
      min-width: 80px !important;
      padding: 6px 12px !important;
      font-size: 14px !important;
      border-radius: 3px !important;
      margin: 0 !important;
    }
  }
}

.input-search-nav {
  min-width: 200px;
  max-width: 350px;
}

.btn-mobile {
  font-size: 32px;
  padding-left: 8px;
  transition: 0.5s ease-in-out;
}

.fa-mobile:hover {
  color: #7db831;
  transform: rotate(1turn);
  -webkit-transform: rotate(1turn);
  -moz-transform: rotate(1turn);
  transition: 0.5s ease-in-out;
}

//mobile page
.mobile-page {
  padding-top: 15px;
  .mobile-background {
    background: image-url('sushi') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding-top: 36px;
    margin-top: -50px;
    margin-left: -1000px;
    margin-right: -1000px;
    opacity: 0.7;
  }
  .mobile-content {
    margin-top: -350px;
    position: relative;
    .mobile-header {
      height: 350px;
      img {
        width: 320px;
      }
      .header-text {
        padding-top: 100px;
        .text-title {
          font-size: 50px;
          color: #f05625;
        }
        .text-slogan {
          font-size: 20px;
          font-style: italic;
          margin-left: 20px;
        }
      }
    }
    .mobile-body {
      margin-top: 20px;
      .header-text {
        font-size: 30px;
        color: #f05625;
      }
      .functions {
        padding-top: 20px;
        .mobile-items {
          position: relative;
          height: 150px;
          .item-left {
            display: inline;
            font-size: 60px;
            color: #f05625;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          .item-right {
            position: absolute;
            top: 50%;
            left: 75px;
            transform: translateY(-50%);
            .text-title {
              font-size: 20px;
              font-weight: bold;
            }
            .text-content {
              font-size: 15px;
              font-style: italic;
            }
          }
        }
        .mobile-items:hover {
          .item-left {
            i {
              transform: rotate(1turn);
              -webkit-transform: rotate(1turn);
              -moz-transform: rotate(1turn);
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }
    .mobile-end {
      margin-top: 20px;
      background-color: rgba(224, 222, 222, 0.35);
      padding-bottom: 10px;
      .header-text {
        font-size: 30px;
        color: #f05625;
      }
      .download {
        padding-top: 20px;
        display: inline;
        .download-item {
          display: inline;
          position: relative;
        }
        img {
          padding-left: 5px;
          padding-right: 5px;
          display: inline;
        }
        .image-coming-soon {
          opacity: 0.3;
        }
        .coming-soon {
          display: inline;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          font-size: 18px;
          color: #f05625;
          font-weight: bold;
        }
      }
    }
  }
}

.padding-top-30 {
  padding-top: 25px;
}

.float-left {
  float: left !important;
}
