.search_between {
  min-height: 50px;
  text-align: center;
  .choose-date-order {
    float: left;
  }
  .order-span {
    color: green;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
  }
  .order-input {
    display: inline-block;
    margin: 8px 5px;
    width: 180px;
  }
  .radio-order {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    white-space: nowrap;
    label {
      align-items: center;
      display: flex;
      font-weight: bold;
      padding-left: 10px;
    }
  }
  @media (max-width: 1200px) {
    .choose-date-order {
      width: 50%;
    }
    .order-input {
      display: inline-block;
      margin: 8px 5px;
      width: 250px;
    }
    .radio-order {
      width: 100%;
    }
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius:  50%;
    background-color: #eee;
    margin-left: 5px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
    }
  }
  input[type="radio"]:empty + .span-radio-order::before {
    content: "";
  }
  input[type="radio"]:checked + .span-radio-order {
    color: #fff;
    background-color: #ff5722;
    &::before {
      content: "\1F5F8";
    }
  }
}
