@import 'social-share-button';
//colors
$concrete: #f2f2f2;
$white: #fff;
$gallery: #efefef;

%extend_1 {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.25s;
}

%extend_2 {
  position: relative;
  display: block;
  clear: both;
  margin: 10px auto;
  height: 1px;
  width: 100%;
  border: none;
  background-color: $gallery;
}

%extend_3 {
  position: relative;
  display: block;
  height: auto;
  background-color: transparent;
  transition: 0.5s;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

.unit7 {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 58.33333%;
}

*[class^="unit"] {
  @extend %extend_1;
}

*[class*="unit"] {
  @extend %extend_1;
}

.pad-50 {
  padding: 10px;
}

.m-panel {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--nospace {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--inverted {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--default {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--success {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--warning {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--danger {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--green {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--black {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--cloud {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--white {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.bg-eb-white {
  background-color: $white;
}

.o-fig__detail {
  background-color: $white;
}

.a-divider--hidden {
  background-color: transparent;
  @extend %extend_2;
}

.a-divider {
  @extend %extend_2;
}

hr {
  @extend %extend_2;
  border-style: inset;
  border-width: 1px;
  margin-left: 16px;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.a-divider--section {
  @extend %extend_2;
}

.a-divider--fit {
  @extend %extend_2;
}

.a-divider--inverted {
  @extend %extend_2;
}

.bordered {
  border: 1px solid $concrete;
}

.m-dropdown {
  border: 1px solid $concrete;
}

.m-dropdown--left {
  border: 1px solid $concrete;
}

.m-dropdown--right {
  border: 1px solid $concrete;
}

.o-fig {
  border: 1px solid $concrete;
  border-radius: 4px;
}

.rounded {
  border-radius: 4px;
}

.m-modal__content {
  border-radius: 4px;
}

.unit5 {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 41.66667%;
}

.m-panel__header {
  min-height: 60px;
  padding: 20px 50px;
}

.m-panel__content {
  border-top: 1px solid $concrete;
  padding: 30px 20px;
}

img {
  @extend %extend_3;
  border: 0;
}

.a-img {
  @extend %extend_3;
}

.img-circle {
  @extend %extend_3;
}

.a-img--circle {
  @extend %extend_3;
}

.a-img--rounded {
  @extend %extend_3;
}

.a-img--bordered {
  @extend %extend_3;
}
.share-product{
  margin-top: 5px;
}

.image_product {
  position: relative;
  h3 {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 138, 102, 0.62);
    width: 100% !important;
    margin: 0;
  }
}

.set-image {
  width: 100%;
  height: 400px;
}

.pd_top_10px{
  padding-top: 10px;
}

.m-panel-item {
  margin-top: 20px;
}

.product-show {
  width: 80px;
  height: 50px;
}

.padd-left-products {
  font-weight: bold;
}

.margin-zerob {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.padding-left-for-button {
  margin-left: 30px;
}

.padding-right-for-button {
  margin-right: 10px;
}

.margin-zeroc {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #ff5722;
}

.load-more-products {
  text-align: center;
  a {
    display: inline-block;
    min-width: 100px !important;
    padding: 10px;
    border-radius: 4px;
    background: #f15626;
    color: white;
    &:hover {
      background: #ff2716;
      color: white;
    }
  }
}

.product-avatar {
  width: 100%;
  min-height: 210px;
  max-height: 260px;
  object-fit: cover;
}

.display-block {
  display: block;
}

.time-group {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  .intime-group {
    display: inline-block;
    width: 47%;
  }
}

.margin-left-2 {
  margin-left: 2%;
}

.modal-product {
  min-width: 700px;
}

form.form-product {
  .errors {
    float: right;
    color: red;
  }
  .form-button {
    min-width: 80px;
  }
}

.hidden-file {
  display: none !important;
}

.choose-avatar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 35px;
  white-space: nowrap;
  > i {
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: #fd680e;
    border-radius: 50px;
    cursor: pointer;
  }
  > label {
    display: none;
    float: right;
    height: 33px;
    margin-top: 2px;
    background-color: white;
    border: 2px solid #fd680e;
    line-height: 30px;
    font-weight: normal;
    border-radius: 50px;
    margin-left: -35px;
    padding: 0 3px 0 33px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
}

.panel-heading label {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.button-group-form {
  padding-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
