$orange_main: #ff5722;

#id_top_products {
  height: 300px;

  .carousel-inner {
    height: 300px;

    .item {
      height: 300px;
    }

    .carousel-caption {
      padding-bottom: 0;
      bottom: 0;
      padding-top: 0;
      background: rgba(0, 0, 0, 0.5);
      float: left;
      width: 100%;
      left: 0;
    }

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .fa {
    font-size: 40px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
}

.block {
  background: #fff;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  margin-bottom: 15px;
  border-radius: 3px;
  margin-left: 0px;

  h3.title {
    margin: 0 0 3px;
    padding: 0 0 8px;
    border-bottom: 1px solid #eee;

    span {
      color: #66757f;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.block-item-list {
  .body {
    .category-list {
      padding-top: 10px;

      .btn {
        display: block;
        color: #66757f;
        text-align: left;
        border: 0;

        .badge {
          float: right;
          background-color: #666;
          top: 1px;
        }
      }

      .btn.active {
        box-shadow: none;
      }
    }
  }
}

.block-shop-feed-item {
  .thumbnail {
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .content {
    h3 {
      margin-top: 10px;
      margin-bottom: 3px;
      display: table;

      a {
        color: #66757f;
      }
    }

    .category {
      .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }

      ul li {
        float: left;

        a {
          padding: 2px 8px;
          margin-right: 5px;
          color: #66757f;
          background-color: #eff1f5;
          border-radius: 3px;
        }
      }
    }
  }
}

.quote {
  background: #efefef;
  padding: 1em 10px;
  margin: 10px 0;
  border-radius: 3px;
  min-height: 65px;
  text-transform: uppercase;
  height: 10px;

  &::before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }
}

.btn_view_all_wrapper {
  text-align: center;
  min-width: 100px;
  margin-top: -3px;

  .btn_view_all {
    background: $orange_main;
    color: #fff;
    font-weight: 700;

    &:hover {
      background: #ff2716;
    }
  }
}

.item-produc-shop {
  width: 24%;
  margin-right: 10px;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

#id_products_list {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
  text-align: center;

  .product_item_wrapper {
    display: inline-block;
    float: left;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    background: #FEFEFE;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    width: 100%;
    text-align: left;
    overflow: hidden;
    vertical-align: top;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    .poster_info_area {
      padding: 0 10px;
      position: relative;
      border-bottom: 1px solid #d2d2d2;
      background-color: #f2f2f2;
      border-radius: 4px 4px 0 0;

      .avatar_area img {
        float: left;
        margin: 10px 15px 0 0;
        padding: 0;
        width: 46px;
      }

      .poster_content_area {
        margin: 0 0 15px 61px;
        padding: 12px 0 0 0;
        text-overflow: ellipsis;

        a {
          text-decoration: none;

          h3 {
            font: normal 20px "Roboto", sans-serif;
            margin: 0;
            border: 0;
            font-weight: 300;
            unicode-bidi: normal;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }

    .product_content_area {
      .book_cover {
        width: 100%;
        height: auto;
      }

      .product_text {
        padding: 10px;
      }
    }

    .interaction_area {
      text-align: center;
      padding: 10px;
      color: #428bca;

      .btn_order {
        background: $orange_main;
        color: #fff;

        &:hover {
          background: #ff2716;
        }
      }
    }
  }
}

.rating-sm {
  font-size: 1.5em;
}

//colors
$color_mercury_approx: #e7e7e7;
$color_apple_approx: #32cd32;

img {
  vertical-align: middle;
  border: 0;
}
* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
:after {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
:before {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
.block-shop-header .shop-cover {
  position: relative;
  width: 100%;
  > img {
    width: 100%;
    height: auto;
  }
  img {
    //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 2px;
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 2px;
  }
  .shop-info-wrapper {
    position: absolute;
    bottom: 0;
    height: 160px;
    width: 100%;
    .shop-avatar-wrapper .shop-avatar {
      z-index: 2;
      padding: 20px;
      position: relative;
      img {
        border: 2px solid $color_mercury_approx;
        width: 100%;
        height: auto;
      }
    }

    .show-shop-avatar {
      z-index: 2;
      padding: 15px;
      position: relative;
      img {
        border: 2px solid $color_mercury_approx;
        width: 100%;
        height: auto;
      }
    }
  }
  .shop-nav-wrapper .shop-basic-info .status.opening i {
    color: $color_apple_approx;
  }
}

$gallery: #efefef;
$white: #fff;
$color_celeste_approx: #ccc;

.quote {
  margin: 10px;
  background: $gallery;
  padding: 1em 10px;
  margin: 0 0 10px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  min-height: 65px;
  text-transform: uppercase;
}
* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
:after {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
:before {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
.quote::before {
  color: $color_celeste_approx;
  content: "\201C";
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
.block-shop-header .description-wrapper {
  padding: 0 20px;
  background: $white;
  .quote {
    padding: 1.2em 20px;
  }
}

.shop-product-image {
  display: block;
  float: left;
  padding: 10px 5px 0 0;

  img {
    height: 128px;
    width: 150px;
    border-radius: 4px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-item-image {
  margin: 5px;
  img {
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 30px;
  }
}



.raty-cancel {
  display: inline;
}

#rate-star {
  padding-left: 0px;
  img {
    display: inline;
  }
}
.action .checkbox {
  float: left;
}
a {
  text-decoration: none !important;
}

.shop_text {
  margin-top: -60px;
}

.shop_image {
  margin-top: -50px;
}

.shop_width {
  width: 118%;
}

.shop_user {
  margin-right: -16px;
}

.width_btn {
  width: auto;
}

.top_shop {
  margin-top: 10px;
  width: 140px;
}

.center {
  text-align: center;
}

.margin_top_shop {
  margin-top: 31px;
}

.style_coffee {
  width: 104%;
  margin-left: -25px;
}

.margin_left_shop {
  margin-left: 10px;
}

.box_pro {
  border: 1px solid #ccc;
  width: 100%;
}

.slide_bottom {
  width: 100% !important;
}

.padding_product {
  padding: 0;
}

@media (min-width: 992px) {
  .height-27375 {
    width: 100%;
    height: 229px;
  }
}

@media (max-width: 991px) {
  .height-27375 {
    width: 100%;
    height: 180px;
  }
}

.wh {
  width: 16px;
  height: 12px;
  margin-left: -15px;
}

.hw {
  margin-left: -68px;
  height: 17px;
}

.mg-65 {
  margin-left: -80px;
}

.igm245 {
  width: 100% !important;
  height: 250px !important;
}

.top-shop {
  width: 132.92px !important;
  height: 96.69px !important;
}

.padding-1022 {
  border: 2px solid #A9A9A9;
  margin-bottom: -15px;
  margin-top: 40px;
}

.img-200 {
  width: 245px !important;
  height: 200px !important
}

.block-shop-feed-item2 {
  .thumbnail {
    border-radius: 2px;
    padding: 4px;

  }

  .content {
    h3 {
      margin-top: 10px;
      margin-bottom: 3px;
      display: table;

      a {
        color: #66757f;
      }
    }

    .category {
      .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }

      ul li {
        float: left;

        a {
          padding: 2px 8px;
          margin-right: 5px;
          color: #66757f;
          background-color: #eff1f5;
          border-radius: 3px;
        }
      }
    }
  }
}
.image-shop-show {
  width: 200px;
  height: 150px !important;
}

.padding-l {
  padding-left: 1px !important;
  padding-bottom: 5px;
}

.time-output {
  position: absolute;
  text-align: center;
  margin-left: 4px;
  margin-top: 90px;
  color: #0a0a0a;
  background-color: rgba(255, 138, 102, 0.62);
}

.margin5 {
  margin-top: 5px;
}

.request-status {
  padding-bottom: 15px;
}

.already {
  padding: 3px;
}

.button-done {
  margin-left: 12px;
}

.button-action {
  margin-left: -424px;
}

.margin-for-shopinfo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-manager-margin-left-right {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .media-margin-shop-top {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .media-margin-shop-top {
    margin-top: 0px;
  }
}

.shop_user-own {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 15px;
  height: 50px;
}

.shop-name-small {
  max-height: 10px;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  float: left;
  width: 50px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.margin-left-for-open-shop {
  margin-left: -45px;
}

.description-margin-bot {
  margin-bottom: 5px;
}

.avatar_small {
  height: 50px !important;
  width: 50px !important;
}

.header-text-center {
  height: 40px !important;
  color: #ffffff;
  background: coral;
  text-align: center;
  font-weight: bold;
}

.modal-header-padding {
  padding: 0px !important;
}

.padding-top-bottom-modal {
  margin-top: 10px;
  margin-bottom: 30px;
}

.height-modal_shop_owner {
  overflow:auto;
  height: 350px;
}

.auto_new_line_for_description_product {
  max-width:300px;
  word-wrap: break-word;
}

#modal-confirm-shop {
  text-align: center;
  p {
    font-size: 20px;
  }
  .btn {
    margin: 0 10px;
  }
}

.width-100 {
  width: 100%;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.add-manager-table {
  max-height: 350px;
  overflow-y: overlay;
  table {
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;
    th {
      text-align: center !important;
      white-space: nowrap;
    }
    td {
      vertical-align: middle !important;
      img {
        margin: auto;
      }
    }
  }
}

.font-bold {
  font-weight: bold;
}

.modal-shop {
  min-width: 700px;
}

.cover-image-shop {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.avatar-shop {
  width: 100%;
  min-height: 210px;
  max-height: 260px;
  object-fit: cover;
}

.form-group {
  .label-checkbox {
    line-height: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;
  }
  input[type="checkbox"] + label span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius:  50%;
    background-color: #eee;
    margin-left: 5px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
    }
  }
  input[type="checkbox"]:empty + label span::before {
    content: "";
  }
  input[type="checkbox"]:checked + label span {
    color: #fff;
    background-color: #337ab7;
    &::before {
      content: "\1F5F8";
    }
  }
}

.time-field {
  width: 50%;
  margin: auto;
}

.intime-field {
  display: inline-block;
  width: 47%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

.line-height-55 {
  line-height: 55px;
}
