<div class="row">
  <div class="col-md-12 magin_top_10px">
    <div class="col-xs-12">
      <div class="margin-bottom-20 margin-top-30 border-top-shop">
        <span class="top-shop-product">
          <%= t "common.all_products" %>
        </span>
        <span><span class="border-top-shop-product"></span></span>
      </div>
    </div>
    <div class="list-products-category col-xs-12">
      <%= render @products %>
    </div>
  </div>
</div>
<div class="load-more-products col-md-12 col-xs-12 margin-top-30">
  <% unless check_length_perpage_product @products %>
    <%= link_to_next_page(@products, t("view_more_products")) %>
  <% end %>
</div>
<%= render "domains/modal_order_fast" %>
