<li>
  <%= link_to category.name, domain_ads_posts_path(@domain,
    category_slug: category.slug,
    type: @post_support.filtered_param[:type],
    mode: @post_support.filtered_param[:mode]) %>
</li>
