.page-title{
  border-bottom: 1px dotted black;
  font-weight: bold;
}
.list-office a{
  margin-bottom: 5px;
  margin-right: 5px;
}
.icon-am-thuc, .icon-xe-co, .icon-do-dien-tu, .icon-do-handmade{
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  color: red;
}
.icon-am-thuc{
  background: image-url("cuisine") no-repeat center center;
  background-size: cover;
}
.icon-xe-co{
  background: image-url("car") no-repeat center center;
  background-size: cover;
}
.icon-do-dien-tu{
  background: image-url("elec") no-repeat center center;
  background-size: cover;
}
.icon-do-handmade{
  background: image-url("handmade") no-repeat center center;
  background-size: cover;
}
.category-btn p{
  text-align: center;
  color: red;
  font-weight: bold;
}
.btn-post-ads a{
  padding: 8px;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin: auto;
}
.list-ads-items{
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px #ccc;
}
.item-content{
  padding: 10px;
}
.item-image{
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 5px #ccc;
  padding: 5px;
}
.post-title{
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.price-item{
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.meta-tag span{
  margin-right: 5px;
}
.fa-foursquare{
  color: red!important;
}
.filter-post{
  margin-bottom: 10px;
}
.office-filter, .status-filter, .time-filter, .categories-filter{
  display: inline-block;
}
.side-item{
  padding: 5px;
  list-style: none;
}
.side-item li{
  font-weight: bold;
}
.sidebar-tag{
  display: inherit;
}
.sidebar-tag i {
  margin-right: 5px;
}
.shop-image{
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.shop-image img{
  width: 80px;
  height: 80px;
}
.image_view{
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 10px;
  &:hover{
    box-shadow: 5px 5px 5px 5px#ccc;
  };
}
.upload-image{
  display: none !important;
}
.btn-upload-image{
  display: inline-block;
  border:2px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.hide-div{
  display: none;
}
.upload-post-image{
  border-radius: 15px;
  border: 1px dotted #ccc;
  padding: 20px;
  margin: 0;
}
.list-gallery{
  margin-right: 90px;
}
.btn-remove{
  text-align: center;
  align-content: center;
  justify-content: center;
}
.post-radio-btn label{
  margin-right: 30px;
}
.post-cucumber{
  height: 70px;
  background-color: whitesmoke;
}
.image-slide{
  height: 500px;
  padding: 5px;
  margin-bottom: 20px;
}
.contact-info{
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  background: image-url("header_bg") #ff5722;
  padding: 15px;
  color: white;
}
.card-img-top{
  width: 150px;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.card-title{
  text-align: center;
}
.shop-btn-func{
  margin-left: 10%!important;
}
.shop-btn-func a{
  margin-right: 25px;
}
.ads-content{
  margin-top: 20px;
}
.ads-title{
  font-size: 20px;
  font-weight: bold;
}
.ads-price{
  font-size: 20px;
  color: red;
  font-style: italic;
}
.dash{
  display: inline-block;
  border: 2px dotted #ccc;
  width: 100%
}
.ads-extend{
  margin-top: 10px;
  margin-bottom: 10px;
}
.ads-extend i{
  margin-right: 30px;
  font-size: 17px;
  color: red;
}
.ads-share i{
  margin-right: 30px;
  font-size: 20px;
  &:hover{
    color: red;
  };
}
.ads-report i{
  font-size: 30px;
  color: green;
}
.btn-reports{
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: center;
}
.social-icon{
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin-right: 20px;
  float: left;
}
.fb-icon{
  background-color: #3b5994;

}
.g-icon{
  background-color: #e2514a;
}
.tw-icon{
  background-color: #009eee;
}
.cw-icon{
  display: inline-block;
  background: image-url("chatwork-icon") center center;
  background-size: cover;
}
.ads-review{
  margin-top: 10px;
}
.ads-review .media{
}
.ads-review-avatar img{
  width: 45px;
}
.people-review{
  box-shadow: 0 0 5px 2px #ccc;
  padding: 20px;
  h3{
    margin: 0;
  }
}
.review-ads-input{
  margin-bottom: 30px;
}
.btn-review{
  margin-top: 10px;
}
.modal-report{
  padding-top: 200px;
  .modal-title {
    text-align: center;
  };
}
.review-ads-input .media-heading .star {
  display: inline-flex;
}
